.page {
    &__content {
        max-width: rem(1440px);
        margin: 0 auto;
        overflow-x: hidden;
        
        font-size: rem($font-size-big);
        background-color: #eeeeee;
    }
}